extends base

block content 
    section.section-backend
            form.form-backend.form-backend--resetPassword(action='#')

                input#password(
                placeholder='password (8-60 characters)*'
                type='password'
                class='input-backend'
                minlength='8'
                maxlength='60')

                input#passwordConfirm(
                placeholder='re-type password (8-60 characters)*'
                type='password'
                class='input-backend'
                minlength='8'
                maxlength='60')

                button.form-backend_btn.form-backend_btn--resetPassword(type='submit') next